# Logs
logs/

# Screenshots
screenshots/

# Chrome profile
chrome_profile/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment
.env
venv/
env/
.vscode

# Streamlit cache
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db